@import '_vars';
@import '_global';
@import '_fonts.scss';


// start header
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;       //центрировать текст  
    position: relative;
}
.header__text{
    margin-left: auto;
    margin-right: 27px;
    span{
        color: $red;
    }
}

.header__btn{
    color: #fff;
    width: 72px;
    padding: 4px ;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;

}

.header__btn-login{
    background-color: $green;
    
}

.header__btn-register,
.header__btn-logout{
    background-color: $red;
    margin-left: 7px;
}

.header__menu{
    background-color: $bg;
}

.menu{
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 37px;
            
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }

}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   //выровнять внутри иконки
        color: #a0a0a0;
        font-size: 14px;
    }
    & + .header__circle{
        margin-left: 15px;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        font-size: 11px;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        color: #fff;
        background-color: #8bc34a;
        right: -7px;
        top: -7px;  
    }

}
.header__box{
    display: flex;
    align-items: center;
}

.notification{
    span{
        background-color: #fcb322;
    }
}
.message{
    span{
        background-color: #ef6c00;
    }
}
.basket{
    margin-right: 20px;
    span{
        background-color: #95c85a;
    }
}
.header__btn-login--off{
    display: none;
    
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}

.user{
    
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
   
    &::before{
        content: "\f107";
        position: absolute;
        font-family: 'icomoon';
        font-size: 16px;
        color: #707070;
        top: 0;
        right: 2px;
        
    }

    &__inner{
        display: flex;
        align-items: center;
    }
    
    &__images{
        margin-right: 15px;
        overflow: hidden;
        width: 34px;
        height: 34px;
        border-radius: 50%;

    }

    &__info{
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
    }

    &__name{
        color: #222222;
    }

    &__money{
        color: $green;      
    }
}



.user__menu{
    top: 68px;
    left: 16px;
    border-top: 0px solid rgb(204, 204, 204);
    position: absolute;
    background-color: #fff;
    padding: 0px 20px;
    width: 158px;
    transition: all .3s;
    height: 0;
    overflow: hidden; //Отображается только область внутри элемента, остальное будет скрыто
    z-index: 2;
    a{
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
        

    }
    
      
}


.user__box,
.basket__box,
.message__box,
.notification__box{
    position: relative;
    height: 67px;
    margin-top: 24px;
    
    

    &:hover{
        .user__menu{
            height: auto;
            border: 1px;
            padding: 20px;
            overflow: auto;

        }
    }
}

.sercle__menu{
    position: absolute;
    top: 60px;
    right: 0;
    // border-top: 1px solid $grey;
    height: 0;
    overflow: hidden; 
    transition: all .3s;
    z-index: 2;
}


.basket__box,
.message__box,
.notification__box{
    margin-top: 39px;
    margin-left: 15px;
    &:hover{
        .sercle__menu{
            height: auto;
            overflow: hidden; 
            
        }
        .sercle__item{
            padding:  22px;
            border-width: 1px;
        }
        .header__circle::before{
            color:$bg;
        }
    }
    
}
 
.sercle__item{
    background-color: #fff;
    border: 0px solid $grey;
    border-top: none;
    padding: 0 22px;
    transition: all .5s;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    &::before{
        position: absolute;
        top: 30px;
        right: 28px;
        font-size: 16px;
    }
    
    
}
.sercle__images{
    margin-right: 15px;
}

.sercle__info-name{
    font-size: 15px;
    color:$bg;
    font-weight: 600;

}
.sercle__info-thema{
    font-size: 12px;
    color:$green
}
.sercle__info-price{
    font-weight: 600;
    color: black;
}
.sercle__info-date{
    font-size: 10px;
    color: #707070;
}
.basket__summ{
    padding: 16px 17px 12px;
    background-color: #fff;
    border: 1px solid $grey;
    border-top: none;
    font-weight: 700;
}
.basket__title{
    color: $bg;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;

}
.basket__btn{
    color: #fff;
    font-size: 14px;
    padding: 5px;
    background-color:$green;
    width: 100px;
    text-align: center;
}
.basket__btn-checkout{
    width: 122px;
    background-color: $red;
    margin-left: 6px;
}

.notification__box,
.message__box{
    .sercle__images{
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    .sercle__info{
        line-height: 20px;;
    }
}
.icons-active::before{
    color: #ef6c00;
}

.header__btn-menu,
.menu__btn{
    display: none;
}
// header finish


// Start search block 

.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 58px 0 70px;
            &-text{
                margin-bottom: 20px;
            }
        }
        
    }
}

.search__inner{
    padding: 155px 0 100px;
    text-align:center;
    color: #fff;
    
    &-title{
        font-size: 48px;
        margin-bottom: 10px;
        font-weight: 700;
        line-height: 72px;


    }
    &-text{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
        line-height: 30px;

    }
    &-form{
        max-width: 670px;
        width: 100%;
        margin: 0 auto;
        position: relative;
       input{
           display: block;
           width: 100%;
           box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
           border-radius: 4px;
           height: 56px;
           border: none;
           font-size: 14px;
           font-weight: 500;
           padding-left: 25px;
           padding-right: 60px;
           &::placeholder{
               color:#90a4ae; 
           }  
       }

       button{
           position: absolute;
           border: none;
           background-color: transparent;
           right: 13px;
           top: 17px;
           cursor: pointer;
           outline: none;
           img{
            width: 20px;
            height: 20px;
           }
       }
    }

}

// End search block 


// Start products block 

.products{
    padding: 110px 0;
    background-color: $bg-grey;
}

.product__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    
    button{
        padding: 11px 21px;
        border: none;        //убрать стиль кнопки
        color: $bg;
        background-color: #fff;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        outline-color: $red;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;   
        }
    };
}

.product__item{
    max-width: 443px;
    width: 100%;
    margin-bottom: 30px;
    &:hover{
        box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    }

    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-size: cover;
        background-position: center;
    }

    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        font-weight: 600;
        border-bottom: solid 1px #e7ecf2; 
    }

    &-name{
        max-width: 310px;
    }

    &-title{
        font-size: 18px;
        color: $bg;
        font-weight: 500;
        display: block;
    }

    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }

    &-price{
        font-size: 20px;
        font-weight: 700;
        color: $bg;
    }

    &-info{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 70px;
        align-items: center;
    }

    &-author{
        display: flex;
        align-items: center;
        width: 245px;
        .author__img{
         min-width: 30px;
         height: 30px;
         border-radius: 50%;
         background-position: center;
         display: inline-block;
         background-repeat: no-repeat;
         background-size: cover;
         margin-right: 14px;
        }
        
        span{
          font-size: 14px;  
          font-weight: 600;
          
        }

    }
    &-rating{

       span{
         color:$bg;
         font-size: 12px;
       }
   }
}

.products__bottom-btn{

  text-align: center;
    
    button{
        margin: 45px 5px 0px;
        padding: 20px 31px; 
        font-size: 16px;
        border: none;
        color: $bg;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        cursor: pointer;
        outline-color: $red ;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
  
        }

    }
}
// End products block


//start product-slider

.product-slider{
    padding: 100px 0 120px;

    .slick-dots{
        text-align: center;
        margin-top: 50px;

        li{
         display: inline-block;
         margin-left: 3px;
         margin-right: 3px;

          &.slick-active{
            button{
              background-color: $green;  
            }
          }
        }

        button{
            border-radius: 50%;
            // background-color: #fff;
            border:none;
            font-size: 0px;
            width: 16px;
            height: 16px;
            outline: none;
            cursor: pointer;
        }
    }
}
//End prouct slider


//Start  Advantages block

.advantages{
    background-color: $bg;
    padding: 110px 0; 
}

.advantages__title{
    color: #fff;
    margin-bottom: 70px;
    

}

.advantages__inner{
    display: flex;
    justify-content: space-between;

}

.advantages__item{
    max-width: 370px;
    align-items: center;
    text-align: center;
    padding: 0 15px;
    
    &:hover{
        .advantages__item-images{
            background-color:$green;
        }
        .advantages__item-title{
            color: $green;
        }

        .advantages__item-images{
            path{
                fill:#fff;
            }
        }   
    }
    &-images{
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;
    }
    &-title{
        color:#fff;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
        transition: all .5s;
    }
    
}

.icons-svg{
    svg{
      width: 50px;
      height: 50px;  
    }
    
} 

//End Advantages block



//Start author block

.author{
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box{
        max-width: 650px;
        width: 100%;
        min-height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }

    &-title{
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        max-width: 266px;
        margin-right: 50px;
        span{
         font-weight: 700;
        }
    }
    &-link{
        font-size: 18px;
        background-color: #fff;
        color: $bg;
        padding: 18px 42px;   
    }
}
//End author block

// Start tutorial block 

.tutorial{
    padding: 70px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__item{
        max-width: 370px;
        width: 100%;
    }
}

.tutorial__item{
    &-images{
        min-height: 270px;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-title{
        font-size: 24px;
        font-weight: 700;
        background-color: #f8f8f8;
        color: $bg;
        text-align: center;
        padding: 30px 15px;
    }
}
// End tutorial block 


//Start footer

.footer{
    background-color: $bg;
    &__inner{
      display: flex;
      justify-content: space-between;
      padding: 100px 0px 80px;
    }
}

.footer__copy{
    border-top: solid 1px rgb(66, 77, 83);;
    &-text{
        text-align: center;
        padding: 25px 0;
        color: #8a8f93;
    }

}

.footer__col{

 max-width: 270px;
 width: 100%;


    &-title{
        font-size: 22px;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding-bottom: 26px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: '';
            width: 50px;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 2px;
            background-color: $green;  
        }
    }

    &-text{
        color: $grey;
        margin-bottom: 30px;



    }   

}
.footer__col-menu{
    max-width: 220px;
}
.footer__info{
    margin-top: 18px;
    color: #fff;
    font-weight: 500;
    padding-left: 30px;
    position: relative;
    &::before{
        content: '\f041';
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        color: $green;
        font-size: 18px;

    }
}
.footer__info-phone{
    &::before{
        content: '\f095';
    }
}

.footer__col-list{
    position: relative;
    a{
       color: $grey;
       margin-bottom: 15px; 
       padding-left: 22px;
       &::before{
           font-size: 18px;
       }
    }
}
.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        & + li{
            margin-left: 6px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/icons/css_sprites.png);
        & + a{
            margin-left: 7px;
            
        }
    }
}
.link-facebook{
    background-position: 0px -0;
}
.link-twiter{
  background-position: -28px -0;
}
.link-youtube{
    background-position: -56px -0;
}
.link-pinterest{
    background-position: -84px -0;
}
.link-linkedin{
    background-position: -112px -0;
}

.footer__form-title{
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;   
}

.footer__form{
    position: relative;   
    input{
       border: none;
       background-color: #2f3c43; 
       display: block;
       width: 100%;
    //    box-shadow: 3px -3px 0px -2px rgb(3, 5, 0);
       outline: none;
       height: 40px;
       color: #697378;
       font-size: 14px;
       padding-left: 13px;
       padding-right: 50px;
       &::placeholder{
        color: #697378;
       }   
    }
    button{
        width: 43px;
        height: 40px;
        position: absolute;
        border: none;
        right: 0;
        bottom: 0;
        cursor: pointer;
        outline: none;
        background-color: $green;
            &::before{
             content: '\f124';
             font-family: 'icomoon';
             position: absolute;
             top: 11px;
             left: 13px;
             color: #fff;
             font-size: 18px;
        }
    }
}
// End Footer

//Star product Page
.product-page__inner{
    display: flex;
    padding-bottom: 80px;
}

.product-page__aside{
    margin-right: 30px;
    // margin-bottom: 30px;

}
.aside__item{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}

.aside-title{
    border-bottom: 1px solid $border;
    max-width: 216px;
    font-size: 20px;
    color: $bg;
    font-weight: 700;
    padding: 22px 0 19px;
    
}
.category-list{
    padding-top: 15px;
    li{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;

        &::before{
            content: '\f105';
            position: absolute;
            left: 0;
            color: #8bc34a;
            font-size: 18px;
            font-family: 'icomoon';
        }
    
    }
    a{
    color:$bg;
    font-size: 15px;
    }
    span{
        color: #90a4ae;
        margin-left: 10px;
    }
    
}

.price-range{
    form{
        padding-top: 15px;
        // border-bottom: 20px;
    }
    button{
        margin-top: 46px;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        display: block;
        border: none;
        padding: 14px 10px;
        color: #fff;
        background-color: $green;
        cursor: pointer;
        position: relative;
        &::before{
            content: '\f002';
            position: absolute;
            left: 56px;
            top: 15px;
            color: #fff;
            font-size: 15px;
            font-family: 'icomoon';
        }
    }
}

.irs-min,
.irs-max{
    display: none;
}

.irs--flat .irs-line{
    background-color: #f2f5f8;
    height: 5px;
}

.irs--flat .irs-bar{
    background-color: $bg;
    height: 5px;
}

.irs--flat .irs-handle{
    position: absolute;
    top: 19px;
    width: 16px;
    height: 16px;
    border: 4px solid  $green;
    background-color: #fff;
    border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
    display: none;  
}

.irs-from, .irs-single, .irs-to {
    top: 40px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
    color: #78909c;
    font-size: 15px;
    line-height: 1.333; 
    text-shadow: none;
    padding: 7px 0px 0px; 
    background-color: transparent;
    border-radius: 0px;
}






.product-page__aside{
    .product__item-img{
        min-height: 120px; 
    }
    .product__item{
        box-shadow: none;
    }
    .product__item-content{
        padding: 0;
        min-height: 75px;
        border: none;
        position: relative;

    }
    .product__item-info{
        padding: 0;
        min-height: 0;

    } 
    .product__item-title{
        font-size: 16px;
        font-weight:600;

    }
    .product__item-category{
        font-size: 14px;
    }
    .product__item-price{
        position: absolute;
        right: 0px;
        top: 22px;
        font-size: 16px;
        font-weight: 600;
    }
    .product__item-ratingnum{
        display: none;
    }
    .rate-star{
        margin-right: 0;
    }
    .jq-ry-container{
        padding: 0;
    }
    .product__item{

        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8; 
     
    }

    .top-sellers__link{
        margin-top: 43px;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        display: block;
        border: none;
        padding: 14px 10px;
        color: #fff;
        background-color: $green;
        cursor: pointer;
        
    }
}
.aside__product-item{
    .product__item:last-child{
        border: none;
        padding-bottom: 0;
    } 
    .product__item:first-child{
        margin-top: 25px;
    }  
}

.product-page__filter{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 20px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 16px;
        outline: none;
        color: #90a4ae;
        &.active{
            color: $green;
        }

        
        
        
    }
    
}
.product-page__content{
    width: 100%;
    .product__item{
        max-width: 270px;
        background-color: #fff;  
        transition: all .5s;
    }

    .product__item-img{
        min-height: 180px;
    }
    .product__item-content{
        padding: 10px 20px;
        position: relative;
        .product__item-price{
            font-size: 20px;
            position: absolute;
            right: 21px;
            top: 20px;
        }   
    } 
    .product__item-title{
        font-size: 16px;
        font-weight: 600;
    } 
    .product__item-info {
        min-height: 65px;
        padding: 10px 20px;
    }
}

button.icon-unsorted{
    font-size: 18px;
    color: #707070;
    
}
.product-page__filter-sort{
    display: flex;
    align-items: center;
    line-height: 24px;
}
.product-page__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;

}
.pagination__list{
    li{
        display: inline-block;
        
        & + li{
            margin-left: 6px;
        }
        

    }
    a,
    span{
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        width: 43px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-style: 16px;
        color: $bg;
        font-weight: 600;
        &.active{
            background-color: $red;
            color: #fff;
        }
    }

    
}
.product__item-text{
    display: none;
}

.product__item-price{
    font-size: 20px;  
    span{
        display: none;
    }
}
.product__item-list{
    display: none;
    .icon-comment-o,
    .icon-heart-o{
        display: inline-block;
        font-size: 12px;
        color: #d0d8dc;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        position: relative;
        span{
            font-weight: 500;
            color: $bg;
        }
        &::before{
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: 0;
        }
    }
    .icon-comment-o{
        padding-right: 25px;
        &::before{
            top: -1px;
        }
    }
    
}
.product__item{
    
    &.list{
        max-width: 100%;
        .product__item-img{
            width: 240px;
            float: left;
            // min-height: 100%;
        }
        .product__item-text{
            display: block;
            font-size: 14px;
            color: #70838d;
            margin-top: 10px;
            margin-bottom: 5px;

        }

        .product__item-price{
            span{
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                margin-top: 15px;
            }
        }
        .product__item-name{
            max-width: 480px;
        }
       
        .product__item-list{
            display: block;
     
        }

        .product__item-rating{
            margin-left: auto;
            margin-right: 30px;
        } 
    }

   
}  

@import '_media';

  
//End Product Page 